article.settings {
    padding: 10px;
}

article.settings .userProfile {
    display: flex;
    align-items: center;
    gap: 15px;
}

article.settings .userProfile h1 {
    margin: 0 0 10px 0;
}

article.settings .userProfile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

article.settings .userProfile .buttons {
    display: flex;
    gap: 10px;
}

article.settings .userProfile .buttons button {
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    background: white;
    transition: 100ms;
}

body.dark article.settings .userProfile .buttons button {
    background: #1f1f1f;
    color: white;
    border: 1px solid #1f1f1f;
}

article.settings .userProfile .buttons button:hover {
    background: #1f1f1f;
    color: white;
}

article.settings .formValidation {
    margin-top: 20px;
    display: grid;
    gap: 15px;
}

article.settings .formValidation label {
    padding: 15px 10px;
    background: #f7f7f7;
    display: flex;
    border-radius: 10px;
}

article.settings .formValidation label > button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

article.settings .formValidation label input {
    outline: none;
    border: none;
    background: none;
    color: white;
}

body.dark article.settings .formValidation label input {
    color: black;
}

body.dark article.settings .formValidation label input::placeholder {
    color: white;
}

body.dark article.settings .formValidation label {
    background: #1f1f1f;
}

article.settings .formValidation > button {
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #1f1f1f;
    color: white;
}

@media screen and (max-width: 370px) {
    article.settings .userProfile {
        flex-direction: column;
        justify-content: center;
    }

    article.settings .userProfile > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
