@font-face {
  font-family: "PoppinsExtraLight";
  src: url(./assets/font/Poppins-ExtraLight.woff);
}

@font-face {
  font-family: "PoppinsLight";
  src: url(./assets/font/Poppins-Light.woff);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(./assets/font/Poppins-Regular.woff);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "PoppinsRegular";
  -webkit-tap-highlight-color: transparent;
}

body.light {
  background-color: #f5f5f5;
  color: #121212;
}

body.dark {
  background-color: #121212;
  color: #f5f5f5;
}
