.dashboard {
  width: 100%;
  height: 91.7vh;
  padding: 10px;
  display: flex;
  overflow-y: auto;
  gap: 20px;
}

.dashboard .usersList {
  width: 35%;
}

.dashboard::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.dashboard::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

.dashboard .dashboard-main {
  width: 65%;
}

@media screen and (max-width: 991px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard .dashboard-main {
    width: 100%;
  }

  .dashboard .usersList {
    display: flex;
    width: 100%;
    align-items: baseline;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .dashboard .usersList {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
}
