article.collection {
    width: 100%;
    padding: 10px;
    height: 91.7vh;
    overflow-y: auto;
}

article.collection header {
    display: flex;
    justify-content: space-between;
}

article.collection header label {
    display: flex;
    align-items: center;
    border: 1px solid #141416;
    padding: 5px 7px;
    border-radius: 10px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

body.dark article.collection header label {
    background: #1f1f1f;
}

article.collection header .buttons {
    display: flex;
    gap: 10px;
}

article.collection header .buttons button {
    border: 2px solid #141416;
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

body.dark article.collection header .buttons button {
    background: black;
    color: white;
    border: 2px solid white;
}

article.collection header .buttons button:hover {
    cursor: pointer;
}

article.collection header label input {
    outline: none;
    border: none;
    background: none;
}

body.dark article.collection header label input {
    color: white;
}

article.collection::-webkit-scrollbar {
    width: 3px;
}

article.collection::-webkit-scrollbar-thumb {
    background: #1f1f1f;
}

article.collection .custom-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    min-width: 800px;
}

article.collection .custom-table td {
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
    white-space: nowrap;
}

article.collection .custom-table th {
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
    white-space: nowrap;
}

article.collection .custom-table td {
    cursor: pointer;
}

body.dark article .custom-table th {
    background-color: #1f1f1f;
    color: #f5f5f5;
    font-weight: 600;
}

article.collection .custom-table th {
    /* background-color: #f5f5f5; */
    color: #1f1f1f;
}

article.collection div.collection {
    display: flex;
    align-items: center;
    gap: 12px;
}

article.collection div.collection img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    margin: 0;
}

.author {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
}

.percent {
    color: #22c55e;
}

@media screen and (max-width: 767px) {
    article.collection header {
        flex-direction: column;
        align-items: center;
    }

    article.collection header label {
        width: 100%;
    }
    article.collection header .buttons {
        width: 100%;
        margin-top: 10px;
    }
}
