header.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 0.5px solid #121212;
  gap: 10px;
}

body.dark header.dashboard-header {
  border-bottom: 0.5px solid #1f1f1f;
}

header.dashboard-header label.headerSaerch {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  margin: 0;
  padding: 5px;
  width: 600px;
  border: 1px solid #121212;
}

header.dashboard-header label.headerSaerch.dark {
  background: #1f1f1f;
}

header.dashboard-header label.headerSaerch input {
  outline: none;
  width: 100%;
  background: none;
  border: none;
}

header.dashboard-header label.headerSaerch input.dark {
  color: white;
}

header.dashboard-header label.headerSaerch input::placeholder {
  color: black;
}

header.dashboard-header.dark label.headerSaerch input::placeholder {
  color: #f5f5f5;
}

header.dashboard-header .account-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
