.conversion {
  width: 50%;
  border: 0.5px solid #edf2f7;
  border-radius: 15px;
  padding: 10px;
}

body.dark .conversion {
  border: 0.5px solid #1f1f1f;
  background: #1f1f1f;
}

.conversion .convert:not(:first-child) {
  margin-top: 10px;
}

.conversion .convert {
  display: flex;
  gap: 7px;
}

.conversion .convert select {
  padding: 15px 10px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}

.conversion .convert input {
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}

body.dark .conversion .convert select {
  border: 2px solid #edf2f7;
  background: #1f1f1f;
  color: white;
}

body.dark .conversion .convert input {
  border: 2px solid #edf2f7;
  background: #1f1f1f;
  color: white;
}
