article.walletArticle {
    padding: 10px;
    height: 91.7vh;
    overflow-y: auto;
}

article.walletArticle::-webkit-scrollbar {
    width: 5px;
}

article.walletArticle::-webkit-scrollbar {
    background: white;
}

article.walletArticle {
    width: 65%;
}
