:root {
    --bgbtn: #f5f5f5;
    -blackclr: black;
    --bgBtn: #141416;
}

section {
    padding: 15px 35px;
    min-height: 80vh;
    display: grid;
}

section main {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section main article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section main article .auth {
    text-align: center;
}

section main article .auth h1 {
    font-size: 1.5rem;
}

section main article .auth form label {
    background: var(--bgbtn);
    border-radius: 10px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

section main article .auth form p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

section main article .auth form p a {
    font-weight: 600;
}

section main article .auth form label input {
    border: none;
    outline: none;
    background: transparent;
}

section main article .auth form label input::placeholder {
    color: var(--grayClr);
    font-size: 15px;
}

section main article .auth form label:last-of-type {
    margin-top: 15px;
}

section main article .auth form label,
input {
    width: 100%;
}

section main article .auth form button {
    background-color: var(--bgBtn);
    color: #f3f5f6;
    width: 100%;
    padding-block: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 15.56px;
}

section main article .auth > span {
    color: var(--grayClr);
    text-align: center;
    display: block;
    margin-block: 20px;
}

section main article .auth-providers {
    display: flex;
    gap: 7px;
}

section main article .auth-providers button {
    background: var(--bgbtn);
    border: none;
    width: 50%;
    padding: 8px 5px;
    border-radius: 8px;
    cursor: pointer;
}

section main .auth a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    padding-block: 10px;
    text-align: end;
}

@media screen and (max-width: 767px) {
    section {
        padding: 20px;
    }
    section main .auth {
        width: 100%;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    section {
        padding: 20px;
    }
    section main .auth {
        width: 40%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1023px) {
    section {
        padding: 20px;
    }
    section main .auth {
        width: 40%;
    }
}

@media screen and (min-width: 1023px) {
    section {
        padding: 20px;
    }
    section main .auth {
        width: 30%;
    }
}
