.account {
    position: relative;
}

.account button.account {
    height: 40px;
    /* color: #f1f1f1; */
    font-size: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 15px;
    border: 0.5px solid black;
}

.account button.account.active {
    background: #1f1f1f;
    color: white;
}

.account button.account span {
    width: 30px;
    aspect-ratio: 1/1;
    display: block;
    background: #1f1f1f;
    display: grid;
    color: #f1f1f1;
    font-size: 18px;
    place-items: center;
    border-radius: 50px;
    text-transform: uppercase;
}

.account button.account svg {
    transition: 200ms;
}

.account button.account.rotate svg {
    transform: rotate(180deg);
}

.account .headersubmenu {
    min-width: 170px;
    position: absolute;
    right: 0;
    top: 50px;
    display: grid;
    gap: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 8px;
}

.account .headersubmenu.dark {
    background-color: #1f1f1f;
}

.account .headersubmenu a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.account .headersubmenu a.dark {
    color: #f5f5f5;
}

.account .headersubmenu.active {
    animation: top 200ms linear;
}

@keyframes top {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}
