label.inputpassword,
input {
  width: 100%;
}

label.inputpassword:last-of-type {
  margin-top: 15px;
}

label.inputpassword input::placeholder {
  color: var(--grayClr);
  font-size: 15px;
}

label.inputpassword:focus-within {
  border: 2px solid black;
}

label.inputpassword input {
  border: none;
  outline: none;
  background: transparent;
}

label.inputpassword {
  background: var(--bgbtn);
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid transparent;
}
