@font-face {
  font-family: "PoppinsLight";
  src: url(../../../assets/font/Poppins-Light.woff);
}

aside {
  min-height: 100vh;
  width: 15% !important;
  background: #f5f5f5;
  display: grid;
  align-content: space-between;
  border-right: 0.5px solid #121212;
}

aside.active {
  background: #1f1f1f;
}

aside header > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #111111;
  padding: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  gap: 5px;
  border-bottom: 0.5px solid #121212;
}

aside header > a.active {
  color: white;
}

aside header ul {
  margin: 30px 0;
  display: grid;
  padding: 0 10px;
}

aside header ul li {
  width: 100%;
  list-style: none;
  margin: 5px 0;
}

aside header ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "PoppinsLight";
  gap: 10px;
  color: black;
  transition: all 100ms ease;
}

aside header ul li > a:hover {
  background: #f5f5f5;
}

aside.active header ul li > a:hover {
  background-color: #2d2d2d;
}

aside header ul li > a.active {
  background-color: #1f1f1f;
  color: #ffffff;
}

aside.active header ul li > a.active {
  background-color: #444444;
  color: #ffffff;
}

aside header ul li > a.dark {
  color: #ffffff;
}

aside header ul li > a.white {
  background: white;
  color: #ffffff;
}

aside header ul li .activityBids {
  border-left: 1px solid black;
  margin: 10px;
  animation: transform 200ms linear;
}

@keyframes transform {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

body.dark aside header ul li .activityBids {
  border-left: 1px solid white;
}

aside header ul li .activityBids a {
  padding: 10px;
  color: black;
  margin: 5px 0;
}

aside header ul li .activityBids a.active {
  font-weight: 700;
}

body.dark aside header ul li .activityBids a {
  color: white;
}

aside footer {
  display: block;
}

aside footer ul {
  margin: 30px 0;
  padding: 0 10px;
  display: grid;
}

aside footer ul li {
  width: 100%;
  list-style: none;
  margin: 5px 0;
}

aside footer ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #111111;
  font-family: "PoppinsLight";
  gap: 10px;
  transition: all 150ms ease;
}

aside footer ul li a:hover {
  background: #f5f5f5;
}

aside.active footer ul li a:hover {
  background: #2d2d2d;
}

aside footer ul li a:hover {
  background: #fefefe;
}

aside footer ul li a.dark {
  color: #ffffff;
}

aside footer ul li a.dark.active {
  background-color: #444444;
}

aside footer ul li a.active {
  background-color: #1f1f1f;
  color: #ffffff;
}

@media screen and (max-width: 1260px) {
  aside {
    display: none;
  }
}
