@font-face {
  font-family: "PoppinsLight";
  src: url(../../../assets/font/Poppins-Light.woff);
}

aside {
  min-height: 100vh;
  width: 100%;
  max-width: 270px;
  padding: 10px;
  background: #eaeaea;
  display: grid;
  align-content: space-between;
  transition-duration: 200ms;
}

aside.active {
  background-color: black;
}

aside header > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-bottom: 2px solid #e2e8f0;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 1.4rem;
  gap: 5px;
}

aside header > a.active {
  color: white;
}

aside header ul {
  margin: 30px 0;
  padding: 0;
  display: grid;
}

aside header ul li {
  width: 100%;
  list-style: none;
  margin: 5px 0;
}

aside header ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
  font-family: "PoppinsLight";
  gap: 10px;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition-duration: 150ms;
}

aside header ul li a:hover {
  background: #0000000d;
}

aside header ul li a.active {
  background-color: #d5d5d5;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.35),
    0 0 0 1px rgba(255, 255, 255, 0.06) inset;
}

aside header ul li a.dark {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  color: white;
}

aside footer {
  display: block;
}

aside footer ul {
  margin: 30px 0;
  padding: 0;
  display: grid;
}

aside footer ul li {
  width: 100%;
  list-style: none;
  margin: 5px 0;
}

aside footer ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
  color: black;
  font-family: "PoppinsLight";
  gap: 10px;
  transition-duration: 150ms;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

aside footer ul li a:hover {
  background: #0000000d;
}

aside footer ul li a.dark {
  color: white;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.35),
    0 0 0 1px rgba(255, 255, 255, 0.06) inset;
}

aside footer ul li a.active {
  background-color: #d5d5d5;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.35),
    0 0 0 1px rgba(255, 255, 255, 0.06) inset;
}
