@font-face {
  font-family: "PoppinsExtraLight";
  src: url(./assets/font/Poppins-ExtraLight.woff);
}

@font-face {
  font-family: "PoppinsLight";
  src: url(./assets/font/Poppins-Light.woff);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(./assets/font/Poppins-Regular.woff);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "PoppinsRegular";
}

body.light {
  background-color: white;
  color: #121212;
  transition-duration: 200ms;
}

body.dark {
  background-color: #121212;
  color: white;
  transition-duration: 200ms;
}
