.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.loader.dark {
  background: #1f1f1f;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
}

.lds-spinner {
  animation: lds-spinner 1.8s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 23px;
  left: 38.8px;
  width: 2px;
  height: 7px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
}
@keyframes lds-spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
