.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
}

.banner .text {
  width: 50%;
}

.banner .buttons {
  display: flex;
  gap: 10px;
}

.banner .buttons button {
  width: 200px;
  border: 2px solid white;
  padding: 15px 10px;
  transition-duration: 100ms;
  margin: 0;
}

.banner .buttons button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.banner h1 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
}

.banner p {
  color: #d4d4d4;
}
